{% extends "account/base.html" %} 

{% load i18n bootstrap4 %} 

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block account_title %}{% trans "Logout" %}{% endblock account_title %}

{% block account_content %}
    <p class="text-center">{% trans "Are you sure you want to log out?" %}</p>
    <form method="POST" action="{% url 'account_logout' %}" autocapitalize="off" class="reg-page" novalidate>
        {% csrf_token %} 
        <button type="submit" class="btn btn-md btn-block u-btn-orange rounded g-py-13">
            {% trans "Logout" %}
        </button>
    </form>
{% endblock account_content %}
