{% extends "account/base.html" %} 
{% load i18n bootstrap3 %} 

{% block head_title %}{% trans "Bad token" %}{% endblock %}

{% block account_title %}{% trans "Bad token" %}{% endblock account_title %}

{% block account_content %}
    {% url "account_password_reset" as url %}
    <p>
        {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.  Please request a 
            <a href="{{ url }}">new password reset</a>.
        {% endblocktrans %}
    </p>
{% endblock account_content %}
