{% extends "employees/base.html" %}

{% load i18n bootstrap4 %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}

<div class="container content">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form method="POST" action="" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} class="reg-page" novalidate>
            <div class="reg-header">
                <h2>{% trans "Change password" %}</h2>
            </div>
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            <button type="submit" class="btn-u submit">
                {% trans "Save" %}
            </button>
        </form>
    </div>
    </div>
</div>
{% endblock %}