{% extends 'employees/base.html' %} {% load static %} {% load bootstrap4 %} {% block content %} 
<div class="edit">
  <div class="container">
  
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row"><div class="col-12 col-lg-8">
      <table class="mytable">
        <tr>
          <th>Username</th><th>:</th>
          <th><h3>{{ user.get_username }}</h3>
          <td class="hide">{% bootstrap_field form.user show_label=False %}</td>
          </th>
        </tr>
        <tr>
          <th>Name </th><th>:</th>
          <td>{% bootstrap_field form.first_name show_label=False %}</td>
          <td>{% bootstrap_field form.middle_name show_label=False %}</td>
          <td>{% bootstrap_field form.last_name show_label=False %}</td>
        </tr>
        <tr>
          <th>Email </th><th>:</th>
          <td colspan="3">{% bootstrap_field form.email show_label=False %}</td>
        </tr>
        <tr>
          <th>Phone No. </th><th>:</th>
          <td colspan="3">{% bootstrap_field form.phone show_label=False %}</td>
        </tr>
        <tr>
          <th>Education </th><th>:</th>
          <td colspan="3">
            {% bootstrap_field form.qualification show_label=False %}
          </td>
        </tr>
        <tr>
          <th>About </th><th>:</th>
          <td colspan="3">{% bootstrap_field form.about show_label=False %}</td>
        </tr>
        <tr>
          <th>Image</th><th>:</th>
          <td>{% bootstrap_field form.pic show_label=False %}</td>
        </tr>
      </table>
    </div><div class="col-12 col-lg-4">

     <div class="hide">{{ expform.as_p }}</div>

      
      <table class="mytable">
        <tr>
        <th>Fields</th>
        <th>Years</th>
        <th>Delete</th>
        </tr>
        {% for field in expform %}
        <tr>
          <td>{% bootstrap_field field.experience_fields show_label=False %}</td>
          <td>{% bootstrap_field field.experience_years show_label=False %}</td>
          <td><input type="checkbox" name="experience_set-{{ forloop.counter0 }}-DELETE" id="id_experience_set-{{ forloop.counter0 }}-DELETE">Delete</td>

        </tr>
              
      </form>

        {% endfor %}
        
      
        
      </table>
              
  
      
    
      
      <button type="submit" name="btn_update" class="btn btn-block btn-success">Save and continue</button>
      <button type="submit" name="btn_exit" class="btn btn-block btn-success">Save and exit</button>
      <a href="{% url 'employees:profile' %}" class="btn btn-block btn-success">Back</a> 
      
    </div></div>
    </form>

      
    </div>
  </form>
  </div>
  
  
</div>

{% endblock %}
