{% extends 'employees/base.html' %} {% block content %} {% load bootstrap4 %} {% load static %}

{% if employees_detail %}

<div class="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
          
        {% if employees_detail.pic %}
        <img src="{{ employees_detail.pic.url }}" alt="profile">
        
        {% endif %}
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <table class="mytable">
      
          <tr>
            <th>Name</th>
            <td>:</td>
            <td>
              {% if employees_detail.middle_name %}
              {{ employees_detail.first_name }}
              {{ employees_detail.middle_name }}
              {{ employees_detail.last_name }}

              {% else %}  {{ employees_detail.first_name }}
              {{ employees_detail.last_name }}

              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Email</th>
            <td>:</td>
            <td>{{ employees_detail.email }}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>:</td>
            <td>{{ employees_detail.phone }}</td>
          </tr>
          <tr>
            <th>Education</th>
            <td>:</td>
            <td>{{ employees_detail.qualification }}</td>
          </tr>
          <tr>
            <th>About </th>
            <td>:</td>
            <td>{{ employees_detail.about|linebreaks }}</td>
          </tr>
          {% if user.is_superuser %}
          <tr><th>Admin</th></tr>
          {% endif %}
          <tr>
            <td class="smhide">
              <a
                  href="{% url 'employees:edit' employees_detail.user.username %}"
                  class="link btn"
                  id="btn"
                  >Edit Profile</a
                >
              
            </div>
            </td>
            <td></td>
            <td>
              <a href="{% url 'account_logout' %}" class="btn" id="btn">Logout</a>
            </td>
           
          </tr>
        </table>
      </div>
      <div class="col-3 mdhide">
        <table class="table mytable table-borderless">
          <tr>
            <th>Field</th>
            <th>Years</th>
          </tr>

          {% for exp in experience %}
          <tr>
            <td>{{ exp.experience_fields }}</td>
            <td>{{ exp.experience_years }}</td>
          </tr>

          {% endfor %}
        </table>

       
      </div>
    </div>
       
    <div style="height: 390px; overflow-y: scroll; display: block;">
      <table class="mytable table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Task</th>
            <th class="mdhide">Added</th>
            <th class="smhide">Deadline</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          {% for tsk in task %}
          <tr>
            <div class="task">
              <td>{{ tsk.project }}</td>
              <td>{{ tsk.task_name }}</td>
              <td class="mdhide">{{ tsk.start_dt }}</td>
              <td class="smhide">{{ tsk.end_dt }}</td>
              <td>
                <a href="{% url 'employees:iscomplete' tsk.id %}"> 
                  {% if tsk.is_completed %} 
                    <i class="fa fa-check" style="color: #05642c;"></i>
                  {% else %} 
                    <i class="fa fa-times" style="color: crimson;"></i>
                  {% endif %}
                </a>
              
              </td>
            </div>

          </tr> 
          {% endfor %}
        </tbody>
      </table>
        </div>
  </div>
</div>

{% else %}
<!--No Profile-->
<div class="container text-center">

  <br><br>
<img src="{% static '/image/default.png' %}" alt="profile"></a>
<h2>username: {{ user.get_username }}</h2>
<br>
<div class="no"><h2>No profile</h2>
  Your username has been reserved. <br>
  Please contact the administration to create your profile.</div>
<a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a>
</div>
<!--No Profile-->
{% endif %}

{% endblock %}

