{% extends 'employees/base.html' %}
{% load bootstrap4 %} 
{% block content %}
{% bootstrap_javascript jquery='full' %} 
{{ form.media }}
<div style="height: 100%;">
    <div class="container">
        <form action="{% url 'employees:projects' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {% bootstrap_form project_form layout='horizontal' %}
            <input type="submit" value="submit" class="btn btn-secondary">

        </form>   
    </div>
</div>
{% endblock %}


